.environmentTable {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 32px;
}

.environmenTable th {
    font-weight: 400;
    color: var(--cor-texto);
    padding-bottom: 16px;
    border-bottom: 1px solid #cfd4da;
    text-align: center;
}


@media (max-width: 768px) {

    /* ========================= */
    /* TABELA RESPONSIVA REAL */
    /* ========================= */

    .environmentTable,
    .environmentTable thead,
    .environmentTable th,
    .environmentTable tr {
        display: block;
        width: 100%;
    }

    .environmentTable {
        border-spacing: 0;
    }

    .environmentTable thead {
        display: none;
    }

    .environmentTable tr {
        background-color: #ffffff;
        border-radius: 14px;
        padding: 22px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    }
}